@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
    font-family: 'Outfit', sans-serif;
    background-color: #e5e1df;
    overflow-x: hidden;
}

.fc {
    background-color: #717866;
    color: #e5e1df;
}

.fc-today-button, .fc-button, .fc-button-primary {
    background-color: #717866 !important;
    color: white !important;
    border: 1px solid #505746 !important;
}

.fc-today-button, .fc-button, .fc-button-primary:hover {
    cursor: pointer !important;
}

.fc-day-today {
    background-color: #505746 !important;
}

.fc-event-main, .fc-event {
    background-color: #505746 !important;
    border: 0.5px solid #e5e1df !important;
}

.fc-event-main, .fc-event:hover {
    cursor: pointer !important;
}